<div>
  <h2 id="page-heading" data-cy="SaisonHeading">
    <span jhiTranslate="testSerieApp.saison.home.title">Saisons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="testSerieApp.saison.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-saison"
        [routerLink]="['/saison/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="testSerieApp.saison.home.createLabel"> Create a new Saison </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="saisons?.length === 0">
    <span jhiTranslate="testSerieApp.saison.home.notFound">No saisons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="saisons && saisons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="testSerieApp.saison.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="testSerieApp.saison.serie">Serie</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saison of saisons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/saison', saison.id, 'view']">{{ saison.id }}</a>
          </td>
          <td>{{ saison.nom }}</td>
          <td>
            <div *ngIf="saison.serie">
              <a [routerLink]="['/serie', saison.serie?.id, 'view']">{{ saison.serie?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/saison', saison.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/saison', saison.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(saison)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
